{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_post') }}" method=post class=add_post>
    <dl>
        <dt>Title: </dt>
        <dd><input type=text size=30 name=title>
        <dt>Text: </dt>
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=share>
    </dl>
</form>
{% endif %}
<ul class=posts>
    {% for post in posts %}
    <li><h2><a href="{{ url_for('show_post', post_id=post.id)}}">{{ post.title }}</a></h2>{{ post.body|safe }}<br />{{ post.pub_date }}<br />
<form action="{{ url_for('add_reply', post_id=post.id) }}" method=post class=add_reply>
    <dl>
        <dt>Add a reply: </dt>
        <dd><textarea name=text rows=1 cols=40></textarea>
        <dd><input type=submit value=comment>
    </dl>
</form>
    <ul class=replies>
    {% for reply in post.replies %}
    <li>{{ reply.comment|safe }}<br />{{ reply.pub_date }}
    {% else %}
    <h3>no reply yet.</h3>
    {% endfor %}
</ul>
    {% endfor %}
{% endblock %}
